In [1]:
import pandas as pd

In [3]:
data = pd.read_excel(r'C:\Users\HP\Desktop\SDP\Used-Car-Price-Predictor\cars_data\tableau_final_final.xlsx')

In [4]:
data.head()

,car_name,Unnamed: 1,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,maruti,maruti swift,2015,petrol,8063,386399,noida,18715,hatchback,manual,...,2,397677,404177.0,great,2021-04-04T07:09:18.583,1.0,8975,57960,False,False
1,maruti,maruti alto 800,2016,petrol,23104,265499,noida,2676,hatchback,manual,...,1,272935,354313.0,great,2021-03-22T14:07:32.833,1.0,6167,39825,False,False
2,hyundai,hyundai grand i10,2017,petrol,23402,477699,noida,609,hatchback,manual,...,1,469605,NaN,great,2021-03-20T05:36:31.311,1.0,11096,71655,False,False
3,maruti,maruti swift,2013,diesel,39124,307999,noida,6511,hatchback,manual,...,1,294262,374326.0,great,2021-01-21T12:59:19.299,1.0,7154,46200,False,False
4,hyundai,hyundai grand i10,2015,petrol,22116,361499,noida,3225,hatchback,manual,...,1,360716,367216.0,great,2021-04-01T13:33:40.733,1.0,8397,54225,False,False